<h3 style="text-align: center">
  <!-- Primo goal: STAMPA IL CONTENUTO DEI BODY -->
  Secondo goal: STAMPA TITOLO, ID E BODY DEI POST PARI
</h3>

<ul>
  <li *ngFor="let p of posts">
   <!-- <p>{{p.body}}</p> plota solo il body -->
   <h3>TITOLO: {{p.title}}</h3>
   <h4>ID: {{p.id}}</h4>
   <p>{{p.body}}</p>
  </li>
</ul>